@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100..900&display=swap");

[x-cloak] {
    display: none;
}

.bangla-noto-100 {
    font-family: "Noto Serif Bengali", serif;
    font-weight: 100;
    font-style: normal;
}

.bangla-noto-200 {
    font-family: "Noto Serif Bengali", serif;
    font-weight: 200;
    font-style: normal;
}

.bangla-noto-300 {
    font-family: "Noto Serif Bengali", serif;
    font-weight: 300;
    font-style: normal;
}

.bangla-noto-400 {
    font-family: "Noto Serif Bengali", serif;
    font-weight: 400;
    font-style: normal;
}

.bangla-noto-500 {
    font-family: "Noto Serif Bengali", serif;
    font-weight: 500;
    font-style: normal;
}

.bangla-noto-600 {
    font-family: "Noto Serif Bengali", serif;
    font-weight: 600;
    font-style: normal;
}

.bangla-noto-700 {
    font-family: "Noto Serif Bengali", serif;
    font-weight: 700;
    font-style: normal;
}

.bangla-noto-800 {
    font-family: "Noto Serif Bengali", serif;
    font-weight: 800;
    font-style: normal;
}

.bangla-noto-900 {
    font-family: "Noto Serif Bengali", serif;
    font-weight: 900;
    font-style: normal;
}
